body{
    background-color: black;
}

.topLink{
    padding-left: 10px;
    color: gray;
    cursor: pointer;
    transition: color 0.1s ease;

}
.topLink:hover{
    color: white;
}

.hero-tag{
    border-radius: 32px; 
    background-color: rgba(255, 255, 255, 0.04);
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    border: 1px solid grey;
    

    
}


.distro, .download{
    transition: background-color 0.1s ease;
}

.distro{
    
    border-radius: 4px;
    padding: 12px 60px;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: #0078d4;
    border-radius: 10px;
    
    
}

.distro:hover {
    background-color: darkblue;
}

.download:hover {
    background-color: darkblue;
}


.download{
    border-radius: 4px;
    padding: 5px 24px;
    cursor: pointer;
    color: white;
    background-color: #0078d4;
    font-weight: bolder;
}

a{
    color: lightblue;
}

