.top-right{
    padding: 0px 20px;
    color: #666;
    cursor: pointer;
    

}

.top-right:hover{
    color:  rgb(56, 126, 209);
}

.tap{
    background-color: rgb(56, 126, 209); 
    color: white; 
    border: none; 
    border-radius: 2px ;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 500;


}
.tap:hover{
    background-color: rgb(34, 34, 34);
}



body{
    font-family: "Inter", serif;
}


